<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Tracker</title>
    <style>
        body {
            background-image: url('https://t3.ftcdn.net/jpg/02/66/34/30/360_F_266343026_bMfkdgJze3i6YLLCQAygNY90V3pa3aQV.jpg');
            background-size: 1535px 725px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        h1, textarea {
            margin: 10px;
        }
    </style>
</head>
<body>
    <h1>Trekking</h1>
    <textarea id="" name="" rows="4" cols="50">DAY:
DATE:
TIME:
    </textarea>
</body>
</html>
